.header-auth__first-item {
    height: 51px;
}

.header-auth__first-item_auth-steam {
    cursor: pointer;
}

.avatar {
    position: absolute;
    top: 10px;
    left: -14px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.username {
    float: left;
    width: 140px;
    padding: 15px 0 0 33px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    color: #fff;
}

.btn-exit {
    position: absolute;
    top: 10px;
    right: -14px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #0c0c0f url(i/cg.png) no-repeat center;
    cursor: pointer;
    transition: .3s ease;
}

.btn-exit:hover {
    background-color: #fc3f3f;
}







.header-auth__second-item {
    position: relative;
}

.header-auth__second-item_field-balance {
    background: none !important;
    color: #ba7e3d;
}

#balance,
#rub {
    color: #ffbf37;
}

.upload-balance-show-popup {
    /*
    position: absolute;
    top: -7px;
    right: 44px;
    */
    display: inline-block;
    vertical-align: -10px;
    width: 32px;
    height: 32px;
    margin-left: 7px;
    border-radius: 50%;
    background: #0c0c0f url('i/ch.png') no-repeat center;
    transition: .3s ease;
}

.upload-balance-show-popup:hover {
    background-color: #fc3f3f;
    cursor: pointer;
}



















/* ----------------------------------------------------------- */


/* POPUP window pay */
.window-pay-bg {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    width: 0;
    height: 0;
    background: #000;
    transition: .3s ease;
}

.window-pay {
    position: fixed;
    top: 56%;
    left: 50%;
    z-index: 5;
    display: none;
    width: 702px;
    height: 200px;
    margin: -217px 0 0 -351px;
    background: #19181F;
    transition: all .6s ease;
}

.window-pay__title {
    position: relative;
    padding: 15px 0;
    background: #fff;
    font-size: 18px;
    color: #222;
}

.window-pay__close {
    position: absolute;
    top: -17px;
    right: -15px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #31D7FF url(i/cg.png) no-repeat center;
    cursor: pointer;
    transition: .3s ease;
}

.window-pay__close:hover {
    background-color: #fc3f3f;
}

.window-pay__row {
    position: relative;
    height: 89px;
    padding: 20px 0 0 55px;
    text-align: left;
    background: url(i/ci.png);
}

.window-pay-row__label {
    display: inline-block;
    color: #bbbfc5;
}

.row-label__num-order {
    position: absolute;
    top: 19px;
    left: 21px;
    margin-right: 10px;
    font-size: 35px;
    color: #2e3033;
}

.row-label__heading {
    font-size: 21px;
}

.row-label__substr {
    font-size: 14px;
}

.window-pay__row input {
    float: right;
    width: 150px;
    padding: 6px 1px;
    margin: 9px 111px 0 0;
    border: 1px solid #393c40;
    border-radius: 20px;
    background: #1c1d1f;
    text-align: center;
    color: #fff;
    font: 700 16px 'Noto Sans';
}

.window-pay__row input:focus {
    box-shadow: 0 0 9px 0px rgba(68, 119, 161, .25);
}

.window-pay-row__btn-submit {
    padding: 6px 0 8px !important;
    font: 500 17px 'Didact Gothic' !important;
    background: #31D7FF !important;
    cursor: pointer;
    text-shadow: 0 0 5px rgba(44, 47, 54, .45);
    transition: .3s ease;
}

.window-pay-row__btn-submit:hover {
    box-shadow: 0 0 8px 7px rgba(44, 47, 54, .45);
}

.window-pay__row_upload-skin {
    height: 121px;
    padding: 17px 0;
    background: url(i/cj.png);
    cursor: pointer;
}

/* bnt send in page pay skinpay.com */
.window-pay__row_upload-skin a {
    display: block;
    width: 210px;
    margin: 9px auto 6px;
    padding: 8px 0 10px;
    border-radius: 20px;
    background: #31D7FF;
    color: #fff;
    transition: .3s ease;
}

.window-pay__row_upload-skin a:hover {
    box-shadow: 0 0 8px 7px rgba(44, 47, 54, .45);
}

.window-pay__row_we-accept {
    padding: 23px;
}



















/* ----------------------------------------------------------- */

/* Promocode section */
.promo-code-right__second-row_auth-mode {
    position: relative;
    font-size: 19px;
    color: #788689;
    cursor: pointer;
}

.promo-code-right__second-row_auth-mode:before {
    content: '';
    position: absolute;
    left: -31px;
    top: 2px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: #788689 url(i/ck.png) no-repeat center;
}



















/* ----------------------------------------------------------- */

/* section in page cases, baner case */
.title-current-point_auth-mode {
    margin-bottom: 160px !important;
}




.baner-case_auth-mode_game-panel {
    background: none;
}

.game-panel {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.game-panel:after {
    content: '';
    position: absolute;
    top: -24px;
    left: 555px;
/*  z-index: 2; */
    width: 42px;
    height: 58px;
    background: url(i/cl.png) no-repeat;
}




.game-panel__lenta {
    position: relative;
    height: 110px;
    padding-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    background: rgba(44, 47, 54, .25) url(i/cm.png) no-repeat 15px 100px;
}

.game-panel__lenta_window {
    transition: 33s ease;
}

.game-panel-lenta__item {
    display: inline-block;
    margin-left: 53px;
}

.game-panel-lenta__item:first-child {
    margin-left: 25px;
}




.game-panel__control {
    height: 100px;
    padding-top: 25px;
    background: rgba(44, 47, 54, .65);
}

.game-panel-control-btn-start {
    z-index: 1;
    display: inline-block;
    width: 120px;
    height: 50px;
    vertical-align: top;
    padding: 10px;
    border-radius: 3px;
    background: #31D7FF;/* #63eefc */
    font: 700 20px 'Noto Sans';
    color: #fff;
    box-shadow: 0 0 11px 3px #63eefc;
    text-shadow: 0 0 1px rgba(44, 47, 54, .45);
    cursor: pointer;
    transition: .3s ease;
}

.game-panel-control-btn-start:hover {
    box-shadow: 0 0 15px 5px #63eefc;
}

.game-panel-control-description {
    position: relative;
    top: 5px;
    display: inline-block;
    margin-left: 40px;
    font-size: 19px;
    text-align: left;
    color: #fff;
}

.game-panel-control-description:before {
    content: '';
    position: absolute;
    top: 14px;
    left: -28px;
    width: 16px;
    height: 12px;
    background: url(i/cn.png) no-repeat;
}

/* price */
.game-panel-control-description span {
    font: 700 19px 'Noto Sans';
    color: #ffd800;
    text-shadow: -1px 1px 24px rgba(247, 105, 10, .67), 1px -1px 24px rgba(247, 105, 10, .67);
}

/* substr */
.game-panel-control-description p {
    font-size: 14px;
    color: #cfcfcf3b;
}




.game-panel__last-str {
    line-height: 40px;
    background: linear-gradient(to right, transparent 0%, transparent 0%, rgba(255, 255, 255, .27) 50%, rgba(0, 0, 0, 0) 100%);
}














/* ---------------------------------------------------------------------- */


/* window popup win thing */
.window-thing-win {
    position: fixed;
    top: 60px;
    right: -199px;
    z-index: 5;
    /* display: none; */
    width: 200px;
    background: rgba(44, 47, 54, .75);
    color: #fff;
    transition: 1.8s ease;
}

.window-thing-win p {
    padding: 17px 0 14px;
    font: 700 14px 'Noto Sans';
    color: #63c3eb; /*#b6daff*/
    text-shadow: 0 -2px 30px rgba(37,93,255,.79);
}

.window-thing-win__line-counter {
    width: 200px;
    height: 4px;
    padding: 0 !important;
    margin-top: 19px;
    background: rgba(37,93,255,.79);
    transition: 4s ease;
}