input {
  border: none;
}

#title-current-point {
  margin: 40px 0;
  font-size: 23px;
}

#title-current-point a {
  color: #595b5e;
}

#title-current-point span {
  padding-left: 36px;
  background: url(i/bt.png) no-repeat 7px 13px;
  color: #64dcf9;
}

.baner-case {
  padding: 41px 0;
  background: url(i/bu.jpg) no-repeat center;
  box-shadow: 0 17px 21px -7px rgba(14, 15, 17, 0.7);
}

#baner-case {
  padding: 41px 0;
  background: url(i/bu.jpg) no-repeat center;
  box-shadow: 0 17px 21px -7px rgba(14, 15, 17, 0.7);
}

#baner-case_new-year18 {
  padding: 18px 0;
  background: url(i/by.jpg) no-repeat center;
}

#baner-case_druzhko {
  padding: 149px 0;
  overflow: hidden;
  background: url(i/cc.jpg) no-repeat center;
}

#baner-case__price,
#baner-case__price_new-year18,
#baner-case__price_druzhko,
#baner-case__price_sctn1 {
  margin: 129px 0 0;
  font: 27px "Noto Sans";
  color: #ffd800;
  text-shadow: -1px 1px 24px rgba(247, 105, 10, 0.67), 1px -1px 24px rgba(247, 105, 10, 0.67);
}

#baner-case__price_new-year18 {
  margin: 86px 0 0;
  text-shadow: none;
}

#baner-case_new-year18 #baner-case__price {
  text-shadow: none;
}

#baner-case__price_druzhko {
  margin: -55px 0 0;
}

#baner-case__price_sctn1 {
  margin: 110px 0 0;
}

#baner-case__img-thing {
  position: relative;
  z-index: 2;
}

#baner-case__img-thing_plain-case {
  position: relative;
  z-index: 2;
  margin: 27px 0;
}

#baner-case__img-thing_sctn1 {
  position: relative;
  z-index: 2;
  margin: 0 0 17px;
}

#baner-case__img-thing_sctn2 {
  margin: 0 0 16px;
}

.baner-case__img-thing_sctn2_auth-mode_not-enough {
  margin: 0 !important;
}

#baner-case__btn-auth,
#baner-case__btn-auth_hover,
#baner-case__btn-auth_new-year18,
#baner-case__btn-auth_hover_new-year18,
#baner-case__btn-auth_plain-case,
#baner-case__btn-auth_sctn1 {
  display: list-item;
  line-height: 152px;
  font-size: 23px;
  text-shadow: 0 4px 9px #291403, 0 7px 21px rgba(41, 20, 3, 0.91);
  cursor: pointer;
}

#baner-case__btn-auth_new-year18,
#baner-case__btn-auth_hover_new-year18 {
  line-height: 157px;
  padding-left: 26px;
}

#baner-case__btn-auth,
#baner-case__btn-auth_new-year18,
#baner-case__btn-auth_druzhko,
#baner-case__btn-auth_plain-case,
#baner-case__btn-auth_sctn1 {
  position: relative;
  top: -41px;
  width: 345px;
  height: 160px;
  margin: 0 auto;
  background: url(i/bv.jpg);
  color: #fff;
}

#baner-case__btn-auth_hover,
#baner-case__btn-auth_hover_new-year18,
#baner-case__btn-auth_hover_druzhko {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(i/bw.jpg);
  opacity: 0;
  transition: 0.6s ease;
}

#baner-case__btn-auth_new-year18 {
  background: url(i/ca.png) no-repeat center;
}

#baner-case__btn-auth_hover_new-year18 {
  background: url(i/cb.png) no-repeat center;
}

#baner-case__btn-auth_druzhko {
  width: 302px;
  height: 142px;
  background: url(i/cd.png) no-repeat center;
}

#baner-case__btn-auth_hover_druzhko {
  width: 302px;
  height: 142px;
  background: url(i/ce.png) no-repeat center;
}

#baner-case__btn-auth_sctn1 {
  top: -27px;
}

.baner-case__btn-auth-parag_auth-mode_not-enough {
  font-size: 19px;
  color: #fff;
}

.baner-case__upload-money {
  margin: 16px 0 66px;
  font-size: 0;
  color: #fff;
}

.baner-case__upload-money input {
  display: inline-block;
  height: 51px;
  padding: 0 12px;
  font-size: 18px;
}

.baner-case__upload-money input:first-child {
  position: relative;
  top: -2px;
  right: -1px;
  width: 198px;
  border-bottom: 2px solid #6adbf2;
  background: rgba(10, 10, 10, 0.64);
  color: #9ca0b2;
}

.baner-case__upload-money input:last-child {
  background: #6adbf2;
  color: #333;
  cursor: pointer;
  transition: 0.3s ease;
}

.baner-case__upload-money input:last-child:hover {
  background: #7bf7ff;
}

#baner-case__btn-auth:hover #baner-case__btn-auth_hover,
#baner-case__btn-auth_new-year18:hover #baner-case__btn-auth_hover_new-year18,
#baner-case__btn-auth_druzhko:hover #baner-case__btn-auth_hover_druzhko,
#baner-case__btn-auth_plain-case:hover #baner-case__btn-auth_hover,
#baner-case__btn-auth_sctn1:hover #baner-case__btn-auth_hover {
  opacity: 1;
}

#baner-case__self-druzhko {
  position: absolute;
  bottom: -159px;
  right: 0;
  width: 569px;
  height: 281px;
  background: url(i/cf.png);
}

#wrap-contains-cases {
  padding: 0 0 40px;
  background: rgba(14, 15, 17, 0.4);
}

#title-contains-case {
  padding: 40px 0;
  font-size: 21px;
}

#contains-case {
  width: 1197px;
  margin: 0 auto;
  text-align: left;
}

#contains-case ul > li {
  display: inline-block;
  vertical-align: middle;
  width: 190px;
  height: 176px;
  margin: 0 6px 6px 0;
  text-align: center;
  background: #151719;
}

#contains-case ul > li:hover img {
  margin-top: 7px;
}

.contains-case__wrap-img {
  height: 112px;
  line-height: 112px;
}

.contains-case__wrap-img img {
  margin-top: 14px;
  transition: 0.3s ease;
}

.contains-case__description {
  position: relative;
  width: 100%;
  height: 61px;
  padding: 14px 0 0;
  font-size: 12px;
  line-height: 1.3;
  background: #1a1c1f;
  border-bottom: 2px solid;
  color: #cfcfcf;
}

/* --------------------------------- *\
 * #COLOR */
/* --------------------------------- */
.first-color {
  border-bottom-color: #6D54D5;
}

.second-color {
  border-bottom-color: #D35170;
}

.third-color {
  border-bottom-color: #D64B1B;
}

.fourth-color {
  border-bottom-color: #FFA200;
}

.fifth-color {
  border-bottom-color: #6abdfd;
}

.sixth-color {
  border-bottom-color: #3c75e8;
}
