<div class="box-loop__item posabs">
    <div class="item-box-num posabs">КОНТЕЙНЕР #1</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs" onclick="boxItemWinClick(1)"></p>
    <div class="box-loop-item__win posabs" style="background: url('i/ee.png')">
        <p class="section-win-name-tank">ЗОЛОТО</p>
        <p class="section-win-price inner-case-item__price">925</p>
    </div>
</div>

<div class="box-loop__item posabs" style="left:232px">
    <div class="item-box-num posabs">КОНТЕЙНЕР #2</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs" onclick="boxItemWinClick(3)"></p>
    <div class="box-loop-item__win posabs" style="background: url('i/a9.png')">
        <p class="section-win-name-tank">T-127</p>
        <p class="section-win-price inner-case-item__price">850</p>
    </div>
</div>

<div class="box-loop__item posabs" style="left:464px">
    <div class="item-box-num posabs">КОНТЕЙНЕР #3</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs" onclick="boxItemWinClick(0)"></p>
    <div class="box-loop-item__win posabs" style="background: url('/i/gg.png')">
        <p class="section-win-name-tank">ЗОЛОТО</p>
        <p class="section-win-price inner-case-item__price">170</p>
    </div>
</div>

<div class="box-loop__item posabs" style="left:696px">
    <div class="item-box-num posabs">КОНТЕЙНЕР #4</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs" onclick="boxItemWinClick(4)"></p>
    <div class="box-loop-item__win posabs" style="background: url('i/c1.png')">
        <p class="section-win-name-tank">ЯЩИК КОЛЫ</p>
        <p class="section-win-price inner-case-item__price">50</p>
    </div>
</div>

<div class="box-loop__item posabs" style="left:928px">
    <div class="item-box-num posabs">КОНТЕЙНЕР #5</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs" onclick="boxItemWinClick(2)"></p>
    <div class="box-loop-item__win posabs" style="background: url('i/hh.png')">
        <p class="section-win-name-tank">ЗОЛОТО</p>
        <p class="section-win-price inner-case-item__price">50</p>
    </div>
</div>