//
//#TODO list
//    fix
//        start button: pseudo class, icon
//        pseudo element before, after
//
//
//
$color-white: #F5F9F9
$color-white1: #C8C9CC
$white-transp: rgba(0,0,0,.4)
$color-yellow: #ffbf37
$color-brown: #788689
$color-brown1: #2C2E33
$color-brown2: #2a2a2a
$color-white-brown: #8D8E91 // for text
$color-dark-blue: #101114
$color-dark-blue1: #1C1C1E
$color-dark-blue-transp: rgba(16,17,20,.7) // a channel 70%
$color-dark-blue-transp1: rgba(16,17,20,.2) // a channel 20%
$color-dark-blue-transp2: rgba(16,17,20,.4) // a channel 40%
$color-light-dark-blue: #1B1D22
$color-light-dark-blue1: #313338
$color-lightdarkblue-transp: rgba(27,29,34,0.94) // a channel 94%
$color-lightdarkblue-transp1: rgba(27,29,34,0.7) // a channel 70%
$color-red: #e43c3c // for wot
$color-black: #0B0B0B
$color-black-black: #000
$color-yellow-orange: #ffd800
$color-orange: #f25322

$text-shadow: -1px 1px 24px rgba(247,105,10,.67),1px -1px 24px rgba(247,105,10,.67) //for summ numner
$text-shadow-light: -1px 1px 24px rgba(247,105,10,.67)

$h80: 70px // height
$h110: 110px // height
$w1260: 1260px // wight
$w1210: 1210px // width for content with text




/* --------------------------------- *\
    #COMMON
/* --------------------------------- */

*
    box-sizing: border-box
    margin: 0
    padding: 0
    font-size: 100%
    text-transform: none
    line-height: 1.15
    letter-spacing: .6px
    -webkit-user-select: none
    user-select: none
    outline: none
    cursor: default




body
    min-width: $w1260
    border: none
    -ms-text-size-adjust: 100%
    -webkit-text-size-adjust: 100%
    vertical-align: baseline
    background: $color-dark-blue1 url(../wot/i/bg.jpg) no-repeat 50% 109px
    font-family: 'Didact Gothic'
    color: $color-white-brown

a
    color: $color-brown
    background-color: transparent
    -webkit-text-decoration-skip: objects
    text-decoration: none
    //cursor: pointer

li
    list-style: none

img
    pointer-events: none




.posabs
    position: absolute

.w180
    width: 180px

.inner
    width: $w1260
    margin: 0 auto

.inner-text
    width: 1210px
    margin: 0 auto

.clearfix:after
    content: " "
    clear: both
    height: 1px

[hidden]
    display: none

//*:after,//#TODO
//*:before
//    content: " "




/* --------------------------------- *\
    #HEADER
/* --------------------------------- */

.live-lenta
    height: $h110
    overflow: hidden
    background: $color-dark-blue
    white-space: nowrap

.live-lenta__text-link
    float: left
    width: 136px
    padding: 40px 0 0 25px
    background: $color-black-black
    box-shadow: 0 0 200px 70px $color-black-black
    font-weight: 600

#live-lenta__live
    color: $color-red

#live-lenta__live:after
    content: ""
    display: inline-block
    width: 28px
    height: 28px
    vertical-align: -9px
    background: url(i/li.png)
    -webkit-animation: live .9s linear infinite
    -moz-animation: live .9s linear infinite
    animation: a .9s linear infinite

// for indicator
@keyframes a
    from
        opacity: 0
    to
        opacity: 1

.live-lenta__item
    display: inline-block
    width: 180px /* 180 */
    height: $h110
    padding-top: 7px
    vertical-align: top
    border-right: 2px solid $color-light-dark-blue
    background-color: transparent
    text-align: center
    transition: 2s ease

.item__username,
.item__time-count,
.item__what-win,
.item__price
    display: none

.item__price
    line-height: 10px

//.item__username
//
//.item__time-count
//
//.item__what-win
//
//.item__price

.live-lenta__item:hover
    position: relative
    //padding-top: 7px

.live-lenta__item:hover img
    position: absolute
    left: 0
    top: 36px
    width: 30px

.live-lenta__item:hover .item__what-win
    display: block
    font-size: 15px
    //text-align: left

.live-lenta__item:hover .item__price
    display: block
    margin: 23px 0 21px
    font-size: 19px

.live-lenta__item:hover .item__username
    display: block
    font-size: 15px




.primary-navbar
    height: $h80
    font-size: 0
    background: $color-lightdarkblue-transp //$color-light-dark-blue
    box-shadow: 0 4px 9px $color-light-dark-blue

.primary-navbar a
    display: inline-block
    padding: 0 25px
    line-height: $h80
    font-size: 16px
    box-shadow: inset 0 -2px transparent
    transition: .3s ease

#logo-header
    width: 170px
    padding-left: 46px
    background: url(i/lo.svg) no-repeat 0 / 99px 86px
    font-weight: 500
    color: #FBFBFB

.primary-navbar .primary-navbar-active-el
    box-shadow: inset 0 -2px $color-yellow-orange

#sign-in
    float: right

.primary-navbar a:hover
    box-shadow: inset 0 -2px $color-yellow-orange
    //background-color: $color-brown1

#logo-header:hover
    background-color: transparent
    box-shadow: none

#sign-in:hover
    color: $color-orange
    box-shadow: inset 0 -2px $color-orange
    text-shadow: 0 0px 30px #f25322

//.primary-navbar a:active
//    box-shadow: inset 0 -2px $color-yellow-orange
//    //box-shadow: inset 0 0 9px $color-dark-blue1




/* --------------------------------- *\
    #MAIN
/* --------------------------------- */

main
    //padding-top: 117px 0 10px 25px

.slogan
    padding: 108px 25px 108px 23px
    font-size: 30px
    font-weight: 500
    color: $color-white1

.slogan b
    font: 29px 'Noto Sans'

.stats
    float: right
    margin-top: 95px
    li
        display: inline-block
        padding: 25px 50px
        border-right: 1px solid $color-brown2
        color: $color-yellow-orange
        font-size: 24px
        text-shadow: 0 0 .55em rgba(154,54,15,.9)
    li:last-child
        border: none
        padding-right: 25px

// second row
.stats p + p
    color: $color-white-brown
    font-size: 13px
    line-height: 2
    // text-shadow: none

// icon
.stats__name-value:before
    content: ""
    display: inline-block
    width: 15px
    height: 15px
    margin-right: 9px
    vertical-align: -2px
    background: $color-yellow-orange

.stats__name-value_online:before
    border-radius: 50%

.stats__name-value_user:before
    background: url(i/ip.png)

.stats__name-value_game:before
    background: url(i/ig.png) no-repeat 0 3px

// preheader
// game panel start
//

//#game-panel__tabs
    //font-size: 0

// item of tabs
#game-panel__tabs a
    display: inline-block
    width: 315px
    padding: 17px 0
    border-right: 2px solid $color-lightdarkblue-transp
    background: $color-dark-blue-transp1
    text-align: center
    vertical-align: middle
    //box-shadow: inset 0 0px 8px -2px $color-black-black
    transition: .7s ease
    //font-size: 16px

//#TODO compression
#game-panel__tabs a:last-child
    border: none

#game-panel__tabs img
    width: 18px
    margin-right: 7px
    vertical-align: -3px

#game-panel__tabs a#on
    background: $color-lightdarkblue-transp
    box-shadow: inset 0 2px $color-orange

#game-panel__tabs a:hover
    background: $color-dark-blue

#game-panel__tabs a:active
    box-shadow: inset


#game-panel__control
    width: $w1260
    height: 95px
    padding: 25px 25px
    background: $color-lightdarkblue-transp


// right side
#game-control__start-button
    float: right
    position: relative
    padding: 10px 20px
    border: 2px solid $color-black
    border-radius: 5px
    background: $color-orange url(i/ob.png)
    text-align: center
    font-size: 18px
    font-weight: 700
    letter-spacing: 0
    color: $color-white
    box-shadow: 0 0 9px 1px rgba(255,18,0,.6), inset 0 0 8px 3px rgba(255,18,0,.6)
    transition: 0.3s ease

#game-control__start-button:hover
    box-shadow: -5px -5px 14px rgba(255,18,0,.7), inset 0 0 9px rgba(255,18,0,.8)

#game-control__start-button:active
    text-shadow: 0 -1px 0 $color-dark-blue

#game-control__start-button:before // arrow
    content: " "
    position: absolute
    left: -45px
    top: 15px
    width: 17px
    height: 12px
    background: url(i/ac.png)

#game-control__price
    float: right
    margin: 4px 70px 0 0
    text-transform: uppercase
    font-size: 19px
    letter-spacing: 0
    text-align: right

#game-control__price b
    margin-bottom: 10px
    color: $color-yellow-orange
    text-shadow: $text-shadow-light

//#game-control__price b:after// money
//    content: ""
//    display: inline-block
//    width: 15px
//    height: 12px
//    background: url(i/icon-rub.gif)
//

#game-control-price__text
    margin-top: 4px
    font-size: 13px
    color: $color-light-dark-blue1
    letter-spacing: 0


// left side
#game-control__promo-text
    float: left
    margin: 0 25px -12px 0
    color: $color-orange
    letter-spacing: 1px
    font-size: 16.4px
    //text-shadow:

// id number play
#game-panel__control li
    display: inline-block
    width: 43px
    height: 12px
    margin: 0 5px 0 0
    border-radius: 5px
    vertical-align: -2.3px
    background: $color-white-brown
    box-shadow: inset 0 0 6px $color-dark-blue

// free play
#game-control__promo-text-small
    float: left
    margin-top: 10px
    color: $color-light-dark-blue1




/* --------------------------------- *\
    #BOX-LOOP
/* --------------------------------- */

.box-loop
    background: $color-dark-blue
    box-shadow: inset 0 6px 8px -6px $color-black-black, 0 8px 13px -6px $white-transp

.box-loop__inner
    position: relative
    width: 1112px
    height: 340px
    padding-top: 62px

.box-loop__item
    display: inline-block
    width: 180px
    text-align: center

.item-box-num
    width: 180px
    font-size: 12px
    color: $color-light-dark-blue1

.box-loop__arrow
    position: absolute
    left: 33%
    display: none
    animation: b 1.5s ease infinite

@keyframes b
    0%
        transform: translateY(-10px)
    50%
        transform: translateY(-30px)
    100%
        transform: translateY(-10px)

.box-loop__box
    display: block
    width: 180px
    height: 170px
    background: url(i/bo.png) no-repeat 11px 55px
    opacity: 1

.box-loop-item__win
    display: none
    z-index: 2
    width: 180px
    height: 170px
    background-repeat: no-repeat
    background-position: 50%

.section-win-name-tank
    position: absolute
    bottom: 18px
    width: 180px
    background: $color-dark-blue-transp2

.section-win-price
    position: absolute
    bottom: 0
    width: 180px
    background: $color-dark-blue-transp2


/* --------------------------------- *\
    #INNER-CASE
/* --------------------------------- */

.inner-case
    margin: 25px 0
    padding: 25px
    background: $color-dark-blue
    font-size: 0
    text-align: center
    box-shadow: 0 7px 9px $white-transp
    //box-shadow:0 7px 9px /*-3px*/$white-transp

.inner-case__title
    margin-bottom: 25px
    font-size: 18px

.inner-case__item
    display: inline-block
    position: relative
    width: 234px
    height: 220px
    margin: 0 9px 9px 0
    background: $color-light-dark-blue
    font-size: 14px
    vertical-align: top
    overflow: hidden

.model-3d-link
    position: absolute
    top: 9px
    right: 8px
    width: 36px
    height: 17px
    background: url(i/i3.png) no-repeat
    //background-size: 50px 24px

.inner-tank:hover .inner-case-item__description
    height: 83px

.inner-tank:hover .inner-case-item__link-description
    display: block

.inner-case__item:nth-child(5n+1)
    margin-right: 0

//.inner-case__item img
//    width: 200px

.inner-case-item__description
    position: absolute
    bottom: 0
    width: 100%
    height: 62px
    padding-top: 15px
    background: $color-dark-blue-transp1
    transition: .3s ease

/* .inner-case-item__name // in section inner-case-item__description */

// in section inner-case-item__description
.inner-case-item__price
    margin-top: 3px
    color: $color-yellow-orange
    text-shadow: $text-shadow

.inner-case-item__price span
    color: $color-brown
    text-shadow: none

// in inner-case-item__description
.inner-case-item__link-description
    display: none
    margin-top: 5px
    font-size: 12px
    text-decoration: underline

// icon coin
.inner-case-item__price:after
    content: ""
    display: inline-block
    width: 17px
    height: 15px
    margin-left: 3px
    background: url(i/co.svg)
    background-size: 18px 15px
    vertical-align: -1.8px

.inner-prem img
    width: 148px

.inner-tank
    position: relative

.free
    padding-top: 24px
    & img
        width: 200px



/* --------------------------------- *\
    #FOOTER
/* --------------------------------- */

.footer
    padding: 25px 0 0
    background: $color-light-dark-blue
    box-shadow: 0 0 12px -3px $color-black-black

.display-inbl
    display: inline-block
    vertical-align: top

.footer__left b span
    color: $color-white1

.footer__logo
    width: 100px
    height: 53px
    margin-bottom: 25px
    font-weight: 500
    background: url(i/lo.svg) no-repeat 0 / 238px

.footer__logo img
    width: 235px
    height: 51px

.footer__right
    margin: 18px 32px

.footer__right a
    text-decoration: underline

.footer__pay-method
    width: 100%
    height: 90px
    padding-top: 19px
    background: url(i/bf.png)

.footer__pay-method img
    display: block
    margin: 0 auto



/* --------------------------------- *\
    #UPLOAD-MONEY
/* --------------------------------- */

#upload-money
    position: fixed
    right: 50px
    top: 200px
    display: none
    width: 287px
    padding: 14px 0 17px 49px
    background: url(i/bm.png)

#upload-money__text-auth
    font-size: 18px
    margin-bottom: 5px

#upload-money__text-bonus
    color: $color-orange

#upload-money__text-upload
    font-size: 15px

#upload-money__countdown
    float: right
    width: 40px
    height: 40px
    margin: 0 26px -20px 0
    line-height: 34.5px
    border-radius: 50%
    border: 3px solid white
    font-size: 21px
    text-align: center
    transition: 2s ease





























/* --------------------------------- *\
    #SECOND-PAGE: faq
/* --------------------------------- */

#faq__title
    margin: 75px 0 25px
    font-size: 24px
    text-align: center

#faq__list
    width: 760px
    margin: 0 auto 50px

#faq__list li:not(.faq-list__section-description)
    width: 760px
    height: 68px
    line-height: 68px
    padding: 0 25px
    border-bottom: .1px solid $color-brown2
    background: $color-dark-blue-transp2

#faq__list li:not(.faq-list__section-description):hover
    background: $color-dark-blue
    transition: .5s ease

.faq-list__section-description
    width: 760px
    height: 0
    padding: 0 25px
    line-height: 1.1
    overflow: hidden
    transition: .3s ease
    background: $color-dark-blue-transp

.faq-list__section-description_active
    height: 68px

//.faq-list__section-description_hide
//    height: 0














/* --------------------------------- *\
    #THIRD PAGE: guarantees
/* --------------------------------- */

.guarantees
    width: 1020px
    margin: 0 auto 75px

.guarantees li
    display: inline-block
    width: 200px
    margin-right: 50px
    vertical-align: top
    text-align: center

.guarantees img
    width: 200px

.guarantees__head
    margin: 25px 0 15px
    color: $color-yellow-orange