$color-dark-blue_bg-general: #151619
$color-dark-blue1-transparent_bg: rgba(27,29,34,.8)
$color-dark-blue2_bg: rgba(17,18,20,.7)
$color-dark-blue3_bg: rgba(14,15,17,.7)
$color-dark-blue4-transparent_bg: rgba(44,47,54,.15)
$color-dark-blue4-transparent2_bg: rgba(44,47,54,.3)
$color-dark-blue4-transparent3_bg: rgba(44,47,54,.4)
$color-dark-blue5_bg: rgba(11,12,15,.47)
$color-brown_text: #788689
$color-brown1_text: #747475
$color-brown2_text: #9098a4
$color-brown3_text: #595b5e
$color-yellow_text: #ffbf37
$color-light-blue_text: #568eff
$color-light-blue1_text: #64dcf9
$color-blue_text: #795fe8
$color-pink_text: #eb587b
$color-red_text: #ef5a26
$color-white_text: #fff
$color-black-transparent_text: rgba(0,0,0,.2)
$text-shadow_text: 0 0 .5em rgba(154,54,15,1)
$text-shadow_text1: 0 0 16px #ffbf37
$liner-grad_bg: linear-gradient(135deg, rgba(68,119,161,.25) 0%, rgba(68,119,161,.25) 1%, rgba(68,119,161,0) 40%, rgba(68,119,161,0) 50%, rgba(68,119,161,0) 60%, rgba(68,119,161,.23) 100%)




input
    border: none

#title-current-point
    margin: 40px 0
    font-size: 23px

#title-current-point a
    color: $color-brown3_text

#title-current-point span
    padding-left: 36px
    background: url(i/bt.png) no-repeat 7px 13px
    color: $color-light-blue1_text




.baner-case
    padding: 41px 0
    background: url(i/bu.jpg) no-repeat center
    box-shadow: 0 17px 21px -7px rgba(14, 15, 17, 0.7)

#baner-case
    padding: 41px 0
    background: url(i/bu.jpg) no-repeat center
    box-shadow: 0 17px 21px -7px rgba(14, 15, 17, 0.7)

#baner-case_new-year18
    padding: 18px 0
    background: url(i/by.jpg) no-repeat center

#baner-case_druzhko
    padding: 149px 0
    overflow: hidden
    background: url(i/cc.jpg) no-repeat center





#baner-case__price,
#baner-case__price_new-year18,
#baner-case__price_druzhko,
#baner-case__price_sctn1
    margin: 129px 0 0
    font: 27px 'Noto Sans'
    color: #ffd800
    text-shadow: -1px 1px 24px rgba(247, 105, 10, .67), 1px -1px 24px rgba(247, 105, 10, .67)

#baner-case__price_new-year18
    margin: 86px 0 0
    text-shadow: none

#baner-case_new-year18 #baner-case__price
    text-shadow: none

#baner-case__price_druzhko
    margin: -55px 0 0

#baner-case__price_sctn1
    margin: 110px 0 0




#baner-case__img-thing
    position: relative
    z-index: 2

#baner-case__img-thing_plain-case
    position: relative
    z-index: 2
    margin: 27px 0

#baner-case__img-thing_sctn1
    position: relative
    z-index: 2
    margin: 0 0 17px

#baner-case__img-thing_sctn2
    margin: 0 0 16px

.baner-case__img-thing_sctn2_auth-mode_not-enough
    margin: 0 !important




#baner-case__btn-auth,
#baner-case__btn-auth_hover,
#baner-case__btn-auth_new-year18,
#baner-case__btn-auth_hover_new-year18,
#baner-case__btn-auth_plain-case,
#baner-case__btn-auth_sctn1
    display: list-item
    line-height: 152px
    font-size: 23px
    text-shadow: 0 4px 9px rgba(41, 20, 3, 1), 0 7px 21px rgba(41, 20, 3, .91)
    cursor: pointer

#baner-case__btn-auth_new-year18,
#baner-case__btn-auth_hover_new-year18
    line-height: 157px
    padding-left: 26px

#baner-case__btn-auth,
#baner-case__btn-auth_new-year18,
#baner-case__btn-auth_druzhko,
#baner-case__btn-auth_plain-case,
#baner-case__btn-auth_sctn1
    position: relative
    top: -41px
    width: 345px
    height: 160px
    margin: 0 auto
    background: url(i/bv.jpg)
    color: $color-white_text

#baner-case__btn-auth_hover,
#baner-case__btn-auth_hover_new-year18,
#baner-case__btn-auth_hover_druzhko
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    background: url(i/bw.jpg)
    opacity: 0
    transition: .6s ease

#baner-case__btn-auth_new-year18
    background: url(i/ca.png) no-repeat center

#baner-case__btn-auth_hover_new-year18
    background: url(i/cb.png) no-repeat center

#baner-case__btn-auth_druzhko
    width: 302px
    height: 142px
    background: url(i/cd.png) no-repeat center

#baner-case__btn-auth_hover_druzhko
    width: 302px
    height: 142px
    background: url(i/ce.png) no-repeat center

#baner-case__btn-auth_sctn1
    top: -27px


.baner-case__btn-auth-parag_auth-mode_not-enough
    font-size: 19px
    color: #fff

// form upload money
.baner-case__upload-money
    margin: 16px 0 66px
    font-size: 0
    color: #fff

.baner-case__upload-money input
    display: inline-block
    //vertical-align: middle
    height: 51px
    padding: 0 12px
    font-size: 18px
    

.baner-case__upload-money input:first-child
    position: relative
    top: -2px
    right: -1px
    width: 198px
    border-bottom: 2px solid #6adbf2
    background: rgba(10, 10, 10, .64)
    color: #9ca0b2

.baner-case__upload-money input:last-child
    background: #6adbf2
    color: #333
    cursor: pointer
    transition: .3s ease

.baner-case__upload-money input:last-child:hover
    background: #7bf7ff

#baner-case__btn-auth:hover #baner-case__btn-auth_hover,
#baner-case__btn-auth_new-year18:hover #baner-case__btn-auth_hover_new-year18,
#baner-case__btn-auth_druzhko:hover #baner-case__btn-auth_hover_druzhko,
#baner-case__btn-auth_plain-case:hover #baner-case__btn-auth_hover,
#baner-case__btn-auth_sctn1:hover #baner-case__btn-auth_hover
    opacity: 1

// img druzko in sctn baner
#baner-case__self-druzhko
    position: absolute
    bottom: -159px
    right: 0
    width: 569px
    height: 281px
    background: url(i/cf.png)




#wrap-contains-cases
    padding: 0 0 40px
    background: rgba(14,15,17,.4)

#title-contains-case
    padding: 40px 0
    font-size: 21px

#contains-case
    width: 1197px
    margin: 0 auto
    text-align: left

#contains-case ul > li
    display: inline-block
    vertical-align: middle
    width: 190px
    height: 176px
    margin: 0 6px 6px 0
    text-align: center
    background: #151719

#contains-case ul > li:hover img
    margin-top: 7px

.contains-case__wrap-img
    height: 112px
    line-height: 112px

.contains-case__wrap-img img
    margin-top: 14px
    transition: .3s ease

.contains-case__description
    position: relative
    width: 100%
    height: 61px
    padding: 14px 0 0
    font-size: 12px
    line-height: 1.3
    background: #1a1c1f
    border-bottom: 2px solid
    color: #cfcfcf

.contains-case__description span











/* --------------------------------- *\
    #COLOR
/* --------------------------------- */

.first-color
    $color-first_text: #6D54D5
    border-bottom-color: $color-first_text

.second-color
    $color-second_text: #D35170
    border-bottom-color: $color-second_text

.third-color
    $color-third_text: #D64B1B
    border-bottom-color: $color-third_text

.fourth-color
    $color-fourth_text: #FFA200
    border-bottom-color: $color-fourth_text

.fifth-color
    $color-fifth_text: #6abdfd
    border-bottom-color: $color-fifth_text

.sixth-color
    $color-sixth_text:  #3c75e8
    border-bottom-color: $color-sixth_text

