<div class="box-loop__item posabs">
    <div class="item-box-num posabs">КОНТЕЙНЕР #1</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs" onclick="boxItemWinClick(0)"></p>
    <div class="box-loop-item__win posabs" style="background-image: url('i/9.png')">
        <p class="section-win-name-tank">ВАЛЕНТАЙН II</p>
        <p class="section-win-price inner-case-item__price">1000</p>
    </div>
</div>

<div class="box-loop__item posabs" style="left:464px">
    <div class="item-box-num posabs">КОНТЕЙНЕР #3</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs" onclick="boxItemWinClick(2)"></p>
    <div class="box-loop-item__win posabs" style="background-image: url('i/2.png')">
        <p class="section-win-name-tank">MATILDA BP</p>
        <p class="section-win-price inner-case-item__price">1705</p>
    </div>
</div>

<div class="box-loop__item posabs" style="left:232px">
    <div class="item-box-num posabs">КОНТЕЙНЕР #2</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs" onclick="boxItemWinClick(1)"></p>
    <div class="box-loop-item__win posabs" style="background-image: url('i/gg.png')">
        <p class="section-win-name-tank">ЗОЛОТО</p>
        <p class="section-win-price inner-case-item__price">250</p>
    </div>
</div>

<div class="box-loop__item posabs" style="left:928px">
    <div class="item-box-num posabs">КОНТЕЙНЕР #5</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs" onclick="boxItemWinClick(4)"></p>
    <div class="box-loop-item__win posabs" style="background-image: url('i/b2.png')">
        <p class="section-win-name-tank">РАСШИРИТЬ КАЗАРМУ</p>
        <p class="section-win-price inner-case-item__price">250</p>
    </div>
</div>

<div class="box-loop__item posabs" style="left:696px">
    <div class="item-box-num posabs">КОНТЕЙНЕР #4</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs" onclick="boxItemWinClick(3)"></p>
    <div class="box-loop-item__win posabs" style="background-image: url('i/hh.png')">
        <p class="section-win-name-tank">ЗОЛОТО</p>
        <p class="section-win-price inner-case-item__price">87</p>
    </div>
</div>