<div class="box-loop__item posabs">
    <div class="item-box-num posabs">КОНТЕЙНЕР #1</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs"></p>
    <div class="box-loop-item__win posabs" style="background-image: url('i/b6.png')">
        <p class="section-win-name-tank">ПЯТНИСТЫЙ КАМУФЛЯЖ</p>
        <p class="section-win-price inner-case-item__price">250</p>
    </div>
</div>

<div class="box-loop__item posabs" style="left:232px">
    <div class="item-box-num posabs">КОНТЕЙНЕР #2</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs"></p>
    <div class="box-loop-item__win posabs" style="background-image: url('i/bb.png')">
        <p class="section-win-name-tank">ЗОЛОТО</p>
        <p class="section-win-price inner-case-item__price">3700</p>
    </div>
</div>

<div class="box-loop__item posabs" style="left:464px">
    <div class="item-box-num posabs">КОНТЕЙНЕР #5</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs"></p>
    <div class="box-loop-item__win posabs" style="background-image: url('i/d.png')">
        <p class="section-win-name-tank">ИС-6</p>
        <p class="section-win-price inner-case-item__price">11814</p>
    </div>
</div>

<div class="box-loop__item posabs" style="left:696px">
    <div class="item-box-num posabs">КОНТЕЙНЕР #3</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs"></p>
    <div class="box-loop-item__win posabs" style="background-image: url('i/c3.png')">
        <p class="section-win-name-tank">ШОКОЛАД</p>
        <p class="section-win-price inner-case-item__price">50</p>
    </div>
</div>

<div class="box-loop__item posabs" style="left:928px">
    <div class="item-box-num posabs">КОНТЕЙНЕР #4</div>
    <img src="i/ba.png" class="box-loop__arrow">
    <p class="box-loop__box posabs"></p>
    <div class="box-loop-item__win posabs" style="background-image: url('i/gg.png')">
        <p class="section-win-name-tank">ЗОЛОТО</p>
        <p class="section-win-price inner-case-item__price">220</p>
    </div>
</div>
